div#palette {
  display: block;
  height: 150px;
  border: 2px solid lightgray;
  border-radius: 10px 10px 0 0;
}

div#label {
  border: 2px solid lightgray;
  border-radius: 0 0 10px 10px;
  margin-bottom: 20px;
}

div#color {
  break-inside: avoid-column;
  width: 150px;
}

p {
  padding-left: 10px;
}


